{% extends "base.html" %}

{% block title %}Dashboard | c0vid bat{% endblock %}

{% block content %}
    <div class="max-w-7xl mx-auto my-2">
        <section class="bg-white p-8 rounded-lg shadow-lg">
            <h2 class="text-2xl font-bold text-gray-800 mb-4">User dashboard</h2>
            <p class="text-gray-600 leading-relaxed">
                USER DASHBOARD
            </p>
            <p class="text-gray-600 leading-relaxed mt-4">
            </p>
        </section>
    </div>
{% endblock %}